@{
    ViewBag.IsAdmin = "classic";//assert that it is an admin page
}

<!-- Left Panel -->
<aside id="left-panel" class="left-panel">
    <nav class="navbar navbar-expand-sm navbar-default">
        <div id="main-menu" class="main-menu collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="@Url.Action("SalesDashboard","Admin")"><i class="menu-icon fa fa-money"></i>Tableau de Vente</a>
                </li>
                <li>
                    <a href="@Url.Action("InventoryDashboard","Admin")"><i class="menu-icon fa fa-laptop"></i>Inventaire</a>
                </li>
                <li>
                    <a href="@Url.Action("OrderDashboard","Admin")"><i class="menu-icon fa fa-shopping-cart"></i>Toutes les Commandes</a>
                </li>
                <li class="active">
                    <a href="@Url.Action("OrderDeliveryDashboard","Admin")"><i class="menu-icon fa fa-shopping-cart"></i>Commandes à Livrer</a>
                </li>
                <li >
                    <a href="@Url.Action("OrderCollectionDashboard","Admin")"><i class="menu-icon fa fa-shopping-cart"></i>Commandes à Retirer</a>
                </li>                
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
</aside>
<!-- /#left-panel -->
<!-- Right Panel -->
<div id="right-panel" class="right-panel">
    <!-- Header-->
    <header id="header" class="header">
        <div class="top-left">
            <div class="navbar-header">
                <a class="navbar-brand" href="./"><img src="~/admin/images/logo3.png" alt="Logo"></a>
                <a class="navbar-brand hidden" href="./"><img src="~/admin/images/logo2.png" alt="Logo"></a>
                <a id="menuToggle" class="menutoggle"><i class="fa fa-bars"></i></a>
            </div>
        </div>
        <div class="top-right">
            <div class="header-menu">
                <div class="header-left">
                    <!--<button class="search-trigger"><i class="fa fa-search"></i></button>
                    <div class="form-inline">
                        <form class="search-form">
                            <input class="form-control mr-sm-2" type="text" placeholder="Search ..." aria-label="Search">
                            <button class="search-close" type="submit"><i class="fa fa-close"></i></button>
                        </form>
                    </div>-->

                    <div class="dropdown for-notification">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="notification" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-bell"></i>
                            <span class="count bg-danger">@(ViewBag.IncompleteOrderList.Count)</span>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="notification">
                            @{
                                if ((ViewBag.IncompleteOrderList.Count) > 0)
                                {
                                    List<Order> IncompleteOrderList = ViewBag.IncompleteOrderList;

                                    <p class="red">Vous avez @ViewBag.IncompleteOrderList.Count Notification(s)</p>
                                    for (int ii = 0; ii < ViewBag.IncompleteOrderList.Count; ii++)
                                    {
                                        <a class="dropdown-item media" href="#">
                                            <i class="fa fa-check"></i>
                                            <p>@(IncompleteOrderList[ii].OrderUniqueId) - Nouvelle commande</p>
                                        </a>

                                    }
                                }
                            }
                        </div>
                    </div>

                    <div class="dropdown for-message">
                        <!--<button class="btn btn-secondary dropdown-toggle" type="button" id="message" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-envelope"></i>
                            <span class="count bg-primary">4</span>
                        </button>-->
                        <div class="dropdown-menu" aria-labelledby="message">

                            <p class="red">You have 4 Mails</p>


                            <a class="dropdown-item media" href="#">
                                <span class="photo media-left"><img alt="avatar" src="~/admin/images/avatar/1.jpg"></span>
                                <div class="message media-body">
                                    <span class="name float-left">Jonathan Smith</span>
                                    <span class="time float-right">Just now</span>
                                    <p>Hello, this is an example msg</p>
                                </div>
                            </a>
                            <a class="dropdown-item media" href="#">
                                <span class="photo media-left"><img alt="avatar" src="~/admin/images/avatar/2.jpg"></span>
                                <div class="message media-body">
                                    <span class="name float-left">Jack Sanders</span>
                                    <span class="time float-right">5 minutes ago</span>
                                    <p>Lorem ipsum dolor sit amet, consectetur</p>
                                </div>
                            </a>
                            <a class="dropdown-item media" href="#">
                                <span class="photo media-left"><img alt="avatar" src="~/admin/images/avatar/3.jpg"></span>
                                <div class="message media-body">
                                    <span class="name float-left">Cheryl Wheeler</span>
                                    <span class="time float-right">10 minutes ago</span>
                                    <p>Hello, this is an example msg</p>
                                </div>
                            </a>
                            <a class="dropdown-item media" href="#">
                                <span class="photo media-left"><img alt="avatar" src="~/admin/images/avatar/4.jpg"></span>
                                <div class="message media-body">
                                    <span class="name float-left">Rachel Santos</span>
                                    <span class="time float-right">15 minutes ago</span>
                                    <p>Lorem ipsum dolor sit amet, consectetur</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="user-area dropdown float-right">
                    <a href="#" class="dropdown-toggle active" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img class="user-avatar rounded-circle" src="~/admin/images/admin_logo.jpeg" alt="User Avatar">
                    </a>

                    <div class="user-menu dropdown-menu">
                        <!-- <a class="nav-link" href="#"><i class="fa fa- user"></i>My Profile</a>

                         <a class="nav-link" href="#"><i class="fa fa- user"></i>Notifications <span class="count">13</span></a>

                          <a class="nav-link" href="#"><i class="fa fa -cog"></i>Settings</a>-->

                        <a class="nav-link" href="#"><i class="fa fa-power -off"></i>Se deconnecter</a>
                    </div>
                </div>

            </div>
        </div>
    </header>
    <!-- /#header -->
    <!-- Content -->
    <div class="content">
        <!-- Animated -->
        <div class="animated fadeIn">
            <!-- Widgets  -->
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="stat-widget-five">
                                <div class="stat-icon dib flat-color-2">
                                    <i class="pe-7s-cart"></i>
                                </div>
                                <div class="stat-content">
                                    <div class="text-left dib">
                                        <div class="stat-text"><span class="count">@ViewBag.DeliverableCount</span></div>
                                        <div class="stat-heading">Commandes à Livrer</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="stat-widget-five">
                                <div class="stat-icon dib flat-color-2">
                                    <i class="pe-7s-cart"></i>
                                </div>
                                <div class="stat-content">
                                    <div class="text-left dib">
                                        <div class="stat-text"><span class="count">@ViewBag.CollectionCount</span></div>
                                        <div class="stat-heading">Commandes à Retirer</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="stat-widget-five">
                                <div class="stat-icon dib flat-color-2">
                                    <i class="pe-7s-cart"></i>
                                </div>
                                <div class="stat-content">
                                    <div class="text-left dib">
                                        <div class="stat-text"><span class="count">@ViewBag.OrderCompleteCount</span></div>
                                        <div class="stat-heading">Commandes Servis</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Widgets -->

            <!--  Inventory  -->
            <div class="content">
                <div class="animated fadeIn">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header">
                                    <strong class="card-title">Commandes à livrer</strong>
                                </div>
                                <div class="card-body">
                                    <table id="bootstrap-data-table" class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Commande</th>
                                                <th>Client</th>
                                                <th>Qté</th>
                                                <th>Total</th>
                                                <th>Payment</th>
                                                <!--<th>Status</th>-->
                                                <th>Operation</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{

                                                int i = 0;
                                                foreach (Order CurOrder in ViewBag.OrderList)
                                                {                                                   
                                                    <tr>
                                                        <td>@(CurOrder.OrderUniqueId)</td>
                                                        <td>@(CurOrder.ClientId)</td>
                                                        <td>@(CurOrder.Products.Count)</td>
                                                        <td>@("$" + Order.GetOrderTotal(CurOrder))</td>
                                                        <td>@(Order.OrderTypeMessage(CurOrder.OrderType))</td>
                                                        <td>
                                                            <button class="btn btn-primary" id="see_button_@(++i)" data-toggle="collapse" product-names='@Html.Raw(CurOrder.GetJSonProductNames())' product-prices='@Html.Raw(CurOrder.GetJSonProductPrices())' product-qties='@Html.Raw(CurOrder.GetJSonProductQties())'  data-target="#orderPanel" onclick="openProductModal('@(i)',@(CurOrder.DeliveryFee),'@(CurOrder.OrderUniqueId)','@(CurOrder.OrderDate)','@(CurOrder.OrderCompleted)','@(Order.OrderTypeMessage(CurOrder.OrderType))','@(CurOrder.ClientId)','@(CurOrder.SenderFullname)','@(CurOrder.SenderCell)','@(CurOrder.SenderFullname)','@(CurOrder.SenderCell)','@(CurOrder.DestinatorFullname)','@(CurOrder.DestinatorCell)','@(CurOrder.Address)','@(CurOrder.GiftMessage)')">Voir</button>
                                                            <!--<button class="btn btn-success">Confirmer</button>-->
                                                            <!-- <button class="btn btn-danger">Archiver</button>-->
                                                        </td>
                                                    </tr>
                                                    
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>


                    </div>
                </div><!-- .animated -->
            </div><!-- .content -->
            <!--  /Inventory -->
                      
            <div class="container mt-5">

                <!--  style="background-color: #fff; border: solid 1px #fff; border-radius:10px; padding-top:20px;padding-left:20px; padding-right:20px;"-->
                <!-- productShow Frame (Collapsed by default) -->
                <div class="collapse" id="orderPanel">
                    <div class="row">
                        <div class="col-md-8 offset-md-2">
                            <h4 class="text-center mb-4">Détails de la Commande </h4>

                            <table class="table" id="orderInfoTable">
                                <tbody>
                                 <tr>
                                        <td class="col-6"> Commande ID: <span id="orderId"> </span></td>
                                <td class="col-6"> Date: <span id="orderDate"> </span></td>
                                </tr>
                                <tr>
                                        <td class="col-6"> Status: <span id="orderStatus"> </span> </td>
                                        <td class="col-6"> Paiement: <span id="orderPaymentType"> </span> </td>
                                </tr>
                                <tr>
                                <td class="col-6"> Client ID:<span id="orderClientId"> </span> </td>
                                <td class="col-6"> Nom du Client: <span id="orderClientName"> </span> </td>
                                </tr>
                                <tr>
                                <td class="col-6"> Client Telephone:  </td>
                                        <td class="col-6"> <span id="orderClientTel"> </span>  </td>
                                </tr>
                                <tr>
                                        <td class="col-6"> Expediteur:<span id="orderSenderName"> </span></td>
                                <td class="col-6" > Numero de l'expediteur:
                                            <span id="orderSenderCell"> </span>
                                        </td>
                                </tr>
                                <tr>
                                        <td class="col-6"> Destinataire: <span id="orderDestName"> </span> </td>
                                        <td class="col-6"> Numero du Destinataire:<b> <span id="orderDestCell"> </span></b></td>
                                </tr>
                                
                                </tbody>
                            </table>

                            <table class="table">
                                <tr>
                                    <td> Addresse Destinataire: <span id="orderAddress"> </span></td>
                                </tr>
                                <tr>
                                    <td class="col-6"> Message du collis: <span id="orderGiftMessage"> </span> </td>
                                </tr>
                            </table>
                            
                            <table class="table" id="product_table">
                                <thead>
                                    <tr>
                                        <th scope="col">Produit</th>
                                        <th scope="col">Qté</th>
                                        <th scope="col">P.U</th>
                                        <th scope="col">Total</th>
                                    </tr>
                                </thead>
                                <tbody>                                                                       
                                </tbody>
                            </table>

                            
                            <table class="table">                               
                                <tbody>
                                    <tr>                                        
                                        <td>Frais de Livraison:<b><span id="deliveryFee_id"></span></b></td>
                                        <td></td>                                        
                                    </tr>
                                    <tr>
                                        <td>Total Net:<b><span id="netTotal_id"></span></b></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td><b>Total à Payer:<span id="grossTotal_id"></span></b></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>

                            <button class="btn btn-danger" type="button" data-toggle="collapse" data-target="#orderPanel" aria-expanded="false" aria-controls="orderPanel">
                                Confirmer La Livraison
                            </button>
                            <!-- Toggle Button -->
                            <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#orderPanel" aria-expanded="false" aria-controls="orderPanel">
                                Fermer Commande
                            </button>
                        </div>
                    </div>
                </div>


            </div>

            <div class="clearfix"></div>
        </div>
        <!-- .animated -->
    </div>
    <!-- /.content -->


    <div class="clearfix"></div>
    <!-- Footer -->
    <footer class="site-footer">
        <div class="footer-inner bg-white">
            <div class="row">
                <div class="col-sm-6">
                    Copyright &copy; 2023
                </div>
                <div class="col-sm-6 text-right">
                    Designed by <a href="https://colorlib.com">Colorlib</a>
                </div>
            </div>
        </div>
    </footer>
    <!-- /.site-footer -->
</div>
<!-- /#right-panel -->

<script src="~/admin/assets/js/lib/data-table/datatables.min.js"></script>
<script src="~/admin/assets/js/lib/data-table/dataTables.bootstrap.min.js"></script>
<script src="~/admin/assets/js/lib/data-table/dataTables.buttons.min.js"></script>
<script src="~/admin/assets/js/lib/data-table/buttons.bootstrap.min.js"></script>
<script src="~/admin/assets/js/lib/data-table/jszip.min.js"></script>
<script src="~/admin/assets/js/lib/data-table/vfs_fonts.js"></script>
<script src="~/admin/assets/js/lib/data-table/buttons.html5.min.js"></script>
<script src="~/admin/assets/js/lib/data-table/buttons.print.min.js"></script>
<script src="~/admin/assets/js/lib/data-table/buttons.colVis.min.js"></script>
<script src="~/admin/assets/js/init/datatables-init.js"></script>


<script type="text/javascript">
    $(document).ready(function () {
        $('#bootstrap-data-table-export').DataTable();
    });
       
    function openProductModal(id,deliveryFee,orderid, orderDate, orderStatus, orderPaymentType, orderClientId, orderClientName, orderClientTel, orderSenderName, orderSenderCell, orderDestName, orderDestCell, orderAddress, orderGiftMessage) {
        // Populate the form with the passed parameters
        $('#orderId').text(" "+orderid);
        $('#orderDate').text(" "+orderDate);
        var completedMessage;
        if(orderStatus.toLowerCase() == "false"){
            completedMessage = "En Cours";
        }else{
            completedMessage = "Complété";
        }         
        $('#orderStatus').text(" " + completedMessage);
        $('#orderPaymentType').text(" " + orderPaymentType);
        $('#orderClientId').text(" " + orderClientId);
        $('#orderClientName').text(" " + orderClientName);
        $('#orderClientTel').text(" " + orderClientTel);
        $('#orderSenderName').text(" " + orderSenderName);
        $('#orderSenderCell').text(" " + orderSenderCell);
        $('#orderDestName').text(" " + orderDestName);
        $('#orderDestCell').text(" " + orderDestCell);
        $('#orderAddress').text(" " + orderAddress);
        $('#orderGiftMessage').text(" " + orderGiftMessage);
        

        var element = document.getElementById("see_button_"+id)
        var productNames = JSON.parse(element.getAttribute('product-names'));
        var productPrices = JSON.parse(element.getAttribute('product-prices'));
        var productQties = JSON.parse(element.getAttribute('product-qties'));

        table_ = document.getElementById("product_table").getElementsByTagName('tbody')[0];

        var netTotal = 0;

        table_.innerHTML = '';
        for(var j=0; j < productNames.length;j++){

            var newRow = table_.insertRow(table_.rows.length);
            var cells = [];
            for (var i = 0; i < 4; i++) {
              cells[i] = newRow.insertCell(i);
            }

            var totalUnit = parseFloat(productPrices[j]) * parseFloat(productQties[j]);
            netTotal += totalUnit;
            cells[0].innerHTML = productNames[j];
            cells[1].innerHTML = productQties[j];
            cells[2].innerHTML = "$"+productPrices[j];
            cells[3].innerHTML = "$"+(totalUnit).toString();
        }
        
        $('#deliveryFee_id').text(" $" + deliveryFee.toString());
        $('#netTotal_id').text(" $"+netTotal.toString());
        $('#grossTotal_id').text(" $" + (netTotal+deliveryFee).toString());
        $('#orderPanel').collapse('show');    
    
    }
</script>
